<article class="w-[85vw] m-auto mt-[2rem] rounded-3xl box_shadow">
  <section class="flex flex-col gap-[3rem] items-center justify-center">
    <div class="flex flex-col items-center space-x-2">
      <!-- Light Curved Shape Before Menu -->
      <div class="text-pink-300 text-[4rem] mb-[-2rem]">~</div>
      <h3 class="text-text-header font-medium text-xl">Features</h3>
    </div>
    <div>
      <h1 class="text-text-header text-3xl font-semibold mt-[-1.5rem] pb-1">
        Why People Choose us?
      </h1>

      <!-- Divider and Icon Section -->
      <div class="flex justify-center items-center">
        <div
          class="h-0.5 w-10 bg-gradient-to-r from-transparent via-accent to-transparent"
        ></div>
        <div class="text-primary text-3xl">☕</div>
        <div
          class="h-0.5 w-10 bg-gradient-to-r from-transparent via-accent to-transparent"
        ></div>
      </div>
    </div>
    <p class="mt-[-2rem]">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit.
    </p>
    <section class="flex flex-col justify-center items-center gap-6 mt-[-1rem]">
      <article class="flex flex-col gap-4 justify-center items-center">
        <img src="menu.png" alt="" class="h-[4rem] w-[4rem]" />
        <h3>Menu for every taste</h3>
        <p class="text-center px-3">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere
          Lorem, ipsum dolor.
        </p>
      </article>
      <article class="flex flex-col gap-4 justify-center items-center">
        <img src="cup.png" alt="" class="h-[4rem] w-[4rem]" />
        <h3>Always Quality Beans</h3>
        <p class="text-center px-3">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere
          Lorem, ipsum dolor.
        </p>
      </article>
      <article class="flex flex-col gap-4 justify-center items-center">
        <img src="menu.png" alt="" class="h-[4rem] w-[4rem]" />
        <h3>Experienced Barista</h3>
        <p class="text-center px-3">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere
          Lorem, ipsum dolor.
        </p>
      </article>
    </section>
  </section>
</article>
