main {
  margin: 0;
  padding: 0;
  background-image: url("/background.png");
  background-size: cover; /* Ensures the image covers the entire viewport */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  background-attachment: fixed; /* Makes the background fixed during scrolling */
  background-position: center; /* Centers the image */
  min-height: 200vh;
}
