<section class="mt-8 overflow-hidden">
  <div class="relative">
    <h1
      #header
      class="relative text-4xl text-center mb-6 text-text-header font-medium"
    >
      Featured Specialities
    </h1>
    <div
      class="absolute flex items-center left-[10rem] top-[3rem] md:left-[20rem] lg:left-[44rem]"
    >
      <div
        class="h-0.5 w-12 bg-gradient-to-r from-transparent via-accent to-transparent"
      ></div>
      <div class="text-primary">☕</div>
      <div
        class="h-0.5 w-12 bg-gradient-to-r from-transparent via-accent to-transparent"
      ></div>
    </div>
  </div>
  <div
    class="flex flex-wrap justify-center gap-8 w-[100vw] mx-auto mt-[4rem] md:w-[75vw] lg:w-[80vw]"
  >
    <article
      class="h-[6rem] w-[8rem] flex flex-col gap-4 justify-center items-center md:h-[10rem] w-[12rem] lg:h-[16rem] w-[18rem]"
    >
      <img src="featured1.avif" alt="" srcset="" class="h-[80%]" />
      <h3 class="text-center">Cookie Dough Craze</h3>
    </article>
    <article
      class="h-[6rem] w-[8rem] flex flex-col gap-4 justify-center items-center md:h-[10rem] w-[12rem] lg:h-[16rem] w-[18rem]"
    >
      <img src="featured1.avif" alt="" srcset="" class="h-[80%]" />
      <h3 class="text-center">Cookie Dough Craze</h3>
    </article>
    <article
      class="h-[6rem] w-[8rem] flex flex-col gap-4 justify-center items-center md:h-[10rem] w-[12rem] lg:h-[16rem] w-[18rem]"
    >
      <img src="featured1.avif" alt="" srcset="" class="h-[80%]" />
      <h3 class="text-center">Cookie Dough Craze</h3>
    </article>
    <article
      class="h-[6rem] w-[8rem] flex flex-col gap-4 justify-center items-center md:h-[10rem] w-[12rem] lg:h-[16rem] w-[18rem]"
    >
      <img src="featured1.avif" alt="" srcset="" class="h-[80%]" />
      <h3 class="text-center">Cookie Dough Craze</h3>
    </article>
    <article
      class="h-[6rem] w-[8rem] flex flex-col gap-4 justify-center items-center md:h-[10rem] w-[12rem] lg:h-[16rem] w-[18rem]"
    >
      <img src="featured1.avif" alt="" srcset="" class="h-[80%]" />
      <h3 class="text-center">Cookie Dough Craze</h3>
    </article>
  </div>
  <!-- <div class="flex justify-center items-center bg-red-400">
    <article class="h-[10rem] w-[10rem]">
      <img src="featured1.avif" alt="" srcset="" class="h-[80%]" />
      <h3>Cookie Dough Craze</h3>
    </article>
    <article class="h-[10rem] w-[10rem]">
      <img src="featured1.avif" alt="" srcset="" class="h-[80%]" />
      <h3>Cookie Dough Craze</h3>
    </article>
    <article class="h-[10rem] w-[10rem]">
      <img src="featured1.avif" alt="" srcset="" class="h-[80%]" />
      <h3>Cookie Dough Craze</h3>
    </article>
  </div> -->
</section>
