<section class="mt-8 overflow-hidden">
  <div class="relative">
    <h1
      #header
      class="relative text-4xl text-center mb-6 text-text-header font-medium"
    >
      Featured Specialities
    </h1>
    <div
      class="absolute flex items-center left-[46%] top-11 sm:absolute left-[36%] top-12"
    >
      <div
        class="h-0.5 w-12 bg-gradient-to-r from-transparent via-accent to-transparent"
      ></div>
      <div class="text-primary">☕</div>
      <div
        class="h-0.5 w-12 bg-gradient-to-r from-transparent via-accent to-transparent"
      ></div>
    </div>
  </div>
  <div
    #articles
    class="grid grid-cols-1 gap-5 md:grid-cols-2 mx-[8rem] lg:grid-cols-3 mt-[3rem]"
  >
    <article class="bg-slate-30 h-[23rem] flex flex-col items-center">
      <img src="featured1.avif" class="h-[80%] w-[65%]" />
      <h3 class="text-lg font-normal py-5">Cookie Dough Craze</h3>
    </article>
    <article class="bg-slate-30 h-[23rem] flex flex-col items-center">
      <img src="featured2.avif" class="h-[80%] w-[65%]" />
      <h3 class="text-lg font-normal py-5">Cookie Dough Craze</h3>
    </article>
    <article class="bg-slate-30 h-[23rem] flex flex-col items-center">
      <img src="featured3.avif" class="h-[80%] w-[65%]" />
      <h3 class="text-lg text-text-primary font-normal py-5">
        Cookie Dough Craze
      </h3>
    </article>
  </div>
</section>
